@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: radial-gradient(
    at 50% 0%,
    rgb(238, 240, 242),
    rgb(202, 195, 202)
  );
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: radial-gradient(
      at 50% 0%,
      rgb(45, 55, 71),
      rgb(17, 24, 39),
      rgb(0, 0, 0)
    );
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
